@import "tailwindcss";

body {
  background-color: #f3f4f6;
  color: #111827;
  transition: background-color 0.3s, color 0.3s;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827;
    color: #ffffff;
  }
}